:root {
  --background-color: #fff;
  --background-color2: #eee;
  --text-color: #202124;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: serif;
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  height: 80px;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-brand {
    h1 {
      font-size: xx-large;
    }
  }

  .nav-item {
    display: flex;
    justify-content: end;
    gap: 5px;
  }

  button {
    padding: 5px;
  }
}

.container {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 10px;

  h2,
  h3 {
    margin: 20px 0;
    border-bottom: 1px solid var(--text-color);
  }
}

.list {
  width: 100%;
  border-collapse: separate;
  border: 1px solid var(--text-color);

  th,
  td {
    padding: 8px;
  }

  tr {
    border-top: 1px solid var(--text-color);
  }

  tr:first-child {
    border-top: 0;
  }

  .td1 {
    width: 80px;
    text-align: center;
  }

  .td3 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
  }

  .trCol {
    color: var(--text-color);
    background-color: var(--background-color2);
  }

  svg {
    height: 30px;
    width: auto;
    vertical-align: middle;
  }
}

.modal {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  h2,
  h3 {
    margin: initial;
    border-bottom: initial;
  }

}

.modal-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    color: var(--text-color);
    height: 30px;
    width: auto;
    vertical-align: middle;
  }

}

.modal-body {
  margin-top: 10px;
}

.createForm {
  width: 100%;
  margin: 0 0 30px 0;

  input {
    width: 100%;
    display: block;
    margin: 10px;
    padding: 10px;
  }

  textarea {
    width: 100%;
    height: 200px;
    display: block;
    margin: 10px;
    padding: 10px;
  }

  button {
    width: 100%;
    display: block;
    margin: 20px 10px;
    padding: 5px;
  }
}

.loginForm {
  width: 100%;
  margin: 0 0 30px 0;

  input {
    width: 100%;
    display: block;
    margin: 10px;
    padding: 10px;
  }

  button {
    width: 100%;
    display: block;
    margin: 20px 10px;
    padding: 5px;
  }

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 4px;
  }
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202124;
    --background-color2: #303134;
    --text-color: #fff;
  }
}